@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ASP.NET</h2>
    * Qua calcolo una espressione: @(1 + 2)
    <br />
    * Qua uso costrutti csharp: <br />
    <ul>
        @{
            IList<int> numbers = new List<int> { 3, 12, 5 };
            foreach (var number in numbers)
            {
                <li>@number</li>
            }

        }
    </ul>
    Qui scrivo un handle twitter: @@Twittefer
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>